<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- <section class="property-binding"> -->

    <!-- <article>
      <h3>Interpolation</h3>
      <p>O link falado é este {{ url }}</p>
      <p>O resultado de 2x2 é {{ 2*2 }}</p>
      <p>O resultado de 1+1 não é {{ 1 + 1 + getValor() }}</p>
    </article>

    <article>
      <h3>Property Binding</h3>
      <img src="{{ urlImagem }}">
      <img [src]="urlImagem">
    </article>

    <article>
      <h3>Class e Styles Binding</h3>
      <div>
          Selecione uma classe:
          <select #classe (change)="0">
              <option value="alert-success">Sucesso</option>
              <option value="alert-info">Info</option>
              <option value="alert-warning">Alerta</option>
              <option value="alert-danger">Erro</option>
            </select>
            <br><br>

          
          
          <div class="alert" role="alert"
          [class.alert-success]="classe.value == 'alert-success' ">
          Sucesso
          </div>          

          <div class="alert" role="alert"
          [class.alert-info]="classe.value == 'alert-info'">
            Informação
          </div>

          <div class="alert" role="alert"
          [class.alert-warning]="classe.value == 'alert-warning'">
            Alerta
          </div>

          <div class="alert" role="alert"
          [class.alert-danger]="classe.value == 'alert-danger'">
            erro
          </div>
          
          <div class="alert alert-danger" role="alert"
          [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
            Esse texto somente aparece em caso de erro.
          </div>
          
      </div>
    </article>


</section>

<section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
        <button (click)="onClick()">Me Clique </button>

        <br><br>

        <input type="text"
          (keyup)="onKeyup($event)"
          (keyup.enter)="onSave(campo.value)"
          (blur)="onSave(campo.value)"
          #campo
        > 


        <div>Conteudo Atual: {{ conteudoAtual }}</div>
        <div>Conteudo Salvo: {{  conteudoSalvo }}</div>

        <br><br>

        <span 
        (mouseover)="onMouseSpan()"
        (mouseout)="onMouseSpan()"
        [class.highlight]="isMouseOver"
        >
          Passe o mouse sobre mim

        </span>
    </div>
  </article> -->

<!-- </section> -->

<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
      <div>
          <input type="text" 
            [value] = "nome"
            (input) = "nome = $event.target.value"
          />

            <input type="text" 
            [ngModel] = "nome"
            (ngModelChange) = "nome = $event"
            />

          <input type="text" [(ngModel)]="nome">


          <p>Você digitou o nome {{ nome }}</p>
      </div>

      <p>Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} anos</p>
      <div>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
      </div>

        
  </article>
</section>